<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Найти студента</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css">
</head>
<body>
<header th:insert="fragments :: header"></header>
<div><h3 align="center">Добро пожаловать: </h3><h3 th:text="${username}" align="center"/></div>
<div class="container mt-5 mb-5">
    <form action="/student/find" method="get">
        <input name="surname" placeholder="Введите фамилию" class="form-control"><br>
        <button type="submit" class="btn btn-success">Поиск</button><br>
    </form>
</div>
<div class="container mt-5 mb-5">
    <table class="table sort">
        <thead>
        <tr>
            <td scope="col">id</td>
            <td scope="col">Фамилия</td>
            <td scope="col">Имя</td>
            <td scope="col">Отчество</td>
            <td scope="col">Группа</td>
        </tr>
        </thead>
        <tbody>
        <tr th:each="el : ${students}">
            <td th:text="${el.id}"></td>
            <td th:text="${el.surName}"></td>
            <td th:text="${el.firstName}"></td>
            <td th:text="${el.lastName}"></td>
            <td th:text="${el.group}"></td>
        </tr>
        </tbody>
    </table>

</div>

<div th:insert="fragments :: footer"></div>
</body>
</html>