<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Создать новый аккаунт</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css">
</head>
<body>
<header th:insert="fragments :: header"></header>
<div class="container mt-5 mb-5">
    <h1>Создание аккаунта</h1>
    <form action="/account/add" method="post">
        <input type="text" name="surName" placeholder="Введите фамилию" class="form-control"><br>
        <input type="text" name="firstName" placeholder="Введите имя" class="form-control"><br>
        <input type="text" name="lastName" placeholder="Введите отчество" class="form-control"><br>
        <textarea name="info" placeholder="Введите информацию" class="form-control"></textarea><br>
        <button type="submit" class="btn btn-success">Добавить пользователя</button><br>
    </form>
</div>
<div th:insert="fragments :: footer"></div>
</body>
</html>